@import "tailwindcss";

@theme {
  --color-brand-bg: oklch(0.1 0 0);
  --color-brand-mid: oklch(0.2 0 0);
  --color-brand-hlg: oklch(0.7706 0.2245 146.12);
  --color-brand-text: oklch(1 0 0);
  --color-brand-border: oklch(1 0 0);
}

body {
  background-color: var(--color-brand-bg);
  color: var(--color-brand-text);
}